---
title: Dana's blog
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  hi, 這裡是 Dana 的技術文章部落格，大概就是記錄一些隨筆跟遇到特別的問題
</p>

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>